@import "tailwindcss";

/* - Corrigindo o estilo do autofill do navegador - */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;

  -webkit-text-fill-color: inherit !important;
  caret-color: inherit;

  transition: background-color 5000s ease-in-out 0s;
}

html,
body {
  height: auto;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
